footer{
    background-color: black;
    padding: 50px;
    font-size: 20px;
    color: rgb(55, 130, 196);
    a{
        text-decoration: none;
        color: rgb(31, 132, 221);

    }
    ul li a:hover{
        color: rgb(110, 174, 103);
    }
}
.Mobiles{
    margin: auto;
    padding: 0%;
}


